{% extends 'OrcaMailBundle::base.html.twig' %}

{% block leftBlock %}
{% endblock %}
{% block contentTitle %}MailTypeAdmin List{% endblock %}
{% block colListeNumber %}col-md-12{% endblock %}
{% block contentListe %}
    {#<h1>Mailtblmailtypes list</h1>#}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger" style="width: 250px;margin: 0 auto 10px auto;">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success" style="width: 250px;margin: 0 auto 10px auto;">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('info') %}
        <div class="alert alert-info" style="width: 250px;margin: 0 auto 10px auto;">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <table class="table">
        <thead>
            <tr>
                {#<th>Id</th>#}
                <th>Label</th>
                <th>Objet</th>
                {#<th>Mailtypeexpediteur</th>#}
                {#<th>Mailtypecc</th>#}
                {#<th>Mailtypebcc</th>#}
                <th>Actif</th>
                <th>Contenu</th>
                <th style="width: 7%">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mailTblMailType in mailTblMailTypes %}
            <tr>
                {#<td><a href="{{ path('mailtblmailtype_show', { 'id': mailTblMailType.id }) }}">{{ mailTblMailType.id }}</a></td>#}
                <td><a href="{{ path('mailtblmailtype_edit', { 'id': mailTblMailType.id }) }}">{{ mailTblMailType.mailTypeLib }}</a></td>
                <td>{{ mailTblMailType.mailTypeObjet }}</td>
                {#<td>{{ mailTblMailType.mailTypeExpediteur }}</td>#}
                {#<td>{{ mailTblMailType.mailTypeCc }}</td>#}
                {#<td>{{ mailTblMailType.mailTypeBcc }}</td>#}
                <td>{% if mailTblMailType.mailTypeActif %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-remove"></i>{% endif %}</td>
                <td>{{ mailTblMailType.mailTypeBody|raw }}</td>
                <td>
                    <a href="{{ path('mailtblmailtype_edit', { 'id': mailTblMailType.id }) }}"><i class="fa fa-pencil"></i> Modifier</a><br>
                    <a href="{{path('mailtblmailtype_delete', { 'id': mailTblMailType.id })}}"><i class="fa fa-remove red"></i> Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <a href="{{ path('mailtblmailtype_new') }}"><i class="fa fa-plus"></i> Nouveau</a>

{% endblock %}

{% block mystyle %}
    <style>
        .red{
            color: red;
        }
        .green{
            color: green;
        }
    </style>
{% endblock %}

{#{% block myscript %}#}
    {##}
{#{% endblock %}#}
