{% extends 'OrcaMailBundle::base.html.twig' %}

{% block leftBlock %}
{% endblock %}
{% block contentTitle %}Nouveau mail vue{% endblock %}
{% block colListeNumber %}col-md-12{% endblock %}
{% block contentListe %}
    <h1>Mailtblregle creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        {#<input type="submit" value="Create" />#}
    <ul class="list_action">
        <li><a href="{{ path('mailtblregle_index') }}"><i class="fa fa-list-alt"></i> Retour à la liste</a></li>
        <li><input type="submit" class="btn btn-default" value="Mettre à jour" /></li>
    </ul>
    {{ form_end(form) }}

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('mailtblregle_index') }}">Back to the list</a>#}
        {#</li>#}
    {#</ul>#}
{% endblock %}

{% block mystyle %}
    <style>
        .red{
            color: red;
        }
        .green{
            color: green;
        }
        ul.list_action li{
            list-style-type: none;
            display: inline;
            margin-right: 10px;
        }
        .list_action{
            margin-top: 10px;
        }
    </style>
{% endblock %}

{% block myscript %}
    <script>
        var path_url = 'mailtblregle_index';

        $("#"+path_url).addClass('active');
        $("#"+path_url).parent().parent().addClass('active');
    </script>
{% endblock %}