{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mailtblreglefrequences list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Reglefrequencelib</th>
                <th>Reglefrequencedelai</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mailTblRegleFrequence in mailTblRegleFrequences %}
            <tr>
                <td><a href="{{ path('mailtblreglefrequence_show', { 'id': mailTblRegleFrequence.id }) }}">{{ mailTblRegleFrequence.id }}</a></td>
                <td>{{ mailTblRegleFrequence.regleFrequenceLib }}</td>
                <td>{{ mailTblRegleFrequence.regleFrequenceDelai }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('mailtblreglefrequence_show', { 'id': mailTblRegleFrequence.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('mailtblreglefrequence_edit', { 'id': mailTblRegleFrequence.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('mailtblreglefrequence_new') }}">Create a new mailTblRegleFrequence</a>
        </li>
    </ul>
{% endblock %}
