{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mailtblmails list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Mailobject</th>
                <th>Mailexpediteur</th>
                <th>Maildestinataire</th>
                <th>Mailcc</th>
                <th>Mailbcc</th>
                <th>Mailbody</th>
                <th>Mailvuedata</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mailTblMail in mailTblMails %}
            <tr>
                <td><a href="{{ path('mailtblmail_show', { 'id': mailTblMail.id }) }}">{{ mailTblMail.id }}</a></td>
                <td>{{ mailTblMail.mailObject }}</td>
                <td>{{ mailTblMail.mailExpediteur }}</td>
                <td>{{ mailTblMail.mailDestinataire }}</td>
                <td>{{ mailTblMail.mailCc }}</td>
                <td>{{ mailTblMail.mailBcc }}</td>
                <td>{{ mailTblMail.mailBody }}</td>
                <td>{{ mailTblMail.mailVueData }}</td>
                <td>{{ mailTblMail.createdAt }}</td>
                <td>{{ mailTblMail.updatedAt }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('mailtblmail_show', { 'id': mailTblMail.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('mailtblmail_edit', { 'id': mailTblMail.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('mailtblmail_new') }}">Create a new mailTblMail</a>
        </li>
    </ul>
{% endblock %}
