{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mailtblmail</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mailTblMail.id }}</td>
            </tr>
            <tr>
                <th>Mailobject</th>
                <td>{{ mailTblMail.mailObject }}</td>
            </tr>
            <tr>
                <th>Mailexpediteur</th>
                <td>{{ mailTblMail.mailExpediteur }}</td>
            </tr>
            <tr>
                <th>Maildestinataire</th>
                <td>{{ mailTblMail.mailDestinataire }}</td>
            </tr>
            <tr>
                <th>Mailcc</th>
                <td>{{ mailTblMail.mailCc }}</td>
            </tr>
            <tr>
                <th>Mailbcc</th>
                <td>{{ mailTblMail.mailBcc }}</td>
            </tr>
            <tr>
                <th>Mailbody</th>
                <td>{{ mailTblMail.mailBody }}</td>
            </tr>
            <tr>
                <th>Mailvuedata</th>
                <td>{{ mailTblMail.mailVueData }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ mailTblMail.createdAt }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{{ mailTblMail.updatedAt }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('mailtblmail_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('mailtblmail_edit', { 'id': mailTblMail.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
