{% extends 'BackendAppBundle::base.html.twig' %}

{% block menu %}
    {{ render(controller('OrcaMenuBundle:Default:menu')) }}
{% endblock %}
{% block leftBlock %}
{% endblock %}
{% block contentTitle %}Sélection des destinataires{% endblock %}
{% block colListeNumber %}col-md-12{% endblock %}
{% block contentListe %}
    {#<h1>Mailtblvues list</h1>#}

    <table class="table">
        <thead>
            <tr>
                {#<th>Id</th>#}
                <th>Libellé de la requête</th>
                <th>Requête SQL</th>
                <th>Requête SQL (post traitement)</th>
                {#<th>Vuesqlraw</th>#}
                <th style="width: 7%">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mailTblVue in mailTblVues %}
            <tr>
                {#<td><a href="{{ path('mailtblvue_show', { 'id': mailTblVue.id }) }}">{{ mailTblVue.id }}</a></td>#}
                <td>{{ mailTblVue.vueLib }}</td>
                <td>{{ mailTblVue.vueSqlRaw|truncate(140) }}</td>
                <td>{{ mailTblVue.vuePostSqlRaw }}</td>
                {#<td>{{ mailTblVue.vueSqlPropel }}</td>#}
                <td>
                    <a href="{{ path('mailtblvue_edit', { 'id': mailTblVue.id }) }}"><i class="fa fa-pencil"></i> Modifier</a><br>
                    <a href="#"><i class="fa fa-remove red"></i> Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('mailtblvue_new') }}"><i class="fa fa-plus green"></i> Nouveau</a>
{% endblock %}

{% block mystyle %}
    <style>
        .red{
            color: red;
        }
        .green{
            color: green;
        }
    </style>
{% endblock %}

{#{% block myscript %}#}
    {##}
{#{% endblock %}#}